<!DOCTYPE html>

<html lang='en'>
  <head>
    <meta charset='utf8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>fccBot - a Slack bot for freeCodeCampers</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600i,600" rel="stylesheet">
    <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="main.css" rel="stylesheet"/>
  </head>

  <body>
    <header>
      <h1>
        <img src="icon.png" alt-"" class="icon">
        fccBot
      </h1>
      <div class="btn">
        <a href="https://slack.com/oauth/authorize?&client_id=173894465014.172581686320&scope=commands"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
      </div>
    </header>

    <section class="intro">
      <div class="agd">
        <div>
          <h2>Meet fccBot - the Slack bot for freeCodeCampers</h2>
          <p>Get information on freeCodeCamp challenges, right in Slack!</p>
        </div><!--
     --><img src="icon.png" alt="fccbot icon">
      </div>
    </section>

    <section class="group">
      <div class="item">
        <span><i class="fa fa-search"></i></span>
        <h3>Search by challenge or certificate</h3>
      </div><!--
   --><div class="item">
        <span><i class="fa fa-info-circle"></i></span>
        <h3>View user stories for challenges</h3>
      </div><!--
   --><div class="item">
        <span><i class="fa fa-link"></i></span>
        <h3>Get links to information and resources</h3>
      </div>
    </section>

    <section class="usage">
      <section class="fccbot-welcome demo">
        <div class="content">
          <p>Learning to code? We make searches easy, so that you can focus on your goals.</p>
          <p>Just type <span class="fccbot">/fccbot</span> to get started.</p>
        </div>
        <video autoplay loop>
          <source src="demos/fccbot.mp4" type="video/mp4"/>
          <img class="fallback" src="demos/fccbot-welcome.jpg" alt="fccbot welcome message"/>
        </video>
      </section>

      <section class="category-search demo">
        <div class="content">
          <p>Type <span class="fccbot">/fccbot [certificate]</span> to see the challenges for your next freeCodeCamp certificate, then select a challenge to view details.</p>
        </div>
        <video autoplay loop>
          <source src="demos/backend-url.mp4" type="video/mp4"/>
          <img class="fallback" src="demos/backend-dropdown-selection.jpg" alt="dropdown menu of challenges in certificate"/>
        </video>
      </section>

      <section class="challenge-search demo">
        <div class="content">
          <p>In a rush? The command <span class="fccbot">/fccbot [project name]</span> takes you straight to information about your current project.</p>
        </div>
        <video autoplay loop>
          <source src="demos/tictactoe.mp4" type="video/mp4"/>
          <img class="fallback" src="demos/tictactoe.jpg" alt="fccbot displaying user stories for tic tac toe challenge"/>
        </video>
      </section>

      <section class="add-button">
        <div class="content">
          <p>Add fccBot to your Slack team.</p>
          <a href="https://slack.com/oauth/authorize?&client_id=173894465014.172581686320&scope=commands"><img alt="Add to Slack" width="200" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
        </div>
      </section>
    </section>

      <footer>
          <a class="footer-link" href="https://slack.com/"><i class="fa fa-slack"></i></a>
          <a class="footer-link" href="https://github.com/AgathaLynn/rhino-bot-project"><i class="fa fa-github"></i></a>
          <a class="footer-link" href="https://www.freecodecamp.com"><i class="fa fa-free-code-camp"></i></a>

          <div class="credits">
            <p>The fccBot was created by members of the <a href="https://tropicalchancer.github.io/projectus/">Chingu Cohorts</a> - student programmers learning together.</p>
            <p>This project has not been endorsed by freeCodeCamp - but we like to think they'd approve.</p>
          </div>
      </footer>
  </body>
</html>
