<!DOCTYPE html>

<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>fccBot - a freeCodeCamp user stories Slack bot</title>

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600i,600" rel="stylesheet">
    <link href="main.css" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <h1>Hi! It's fccBot, at your service!</h1>
      <p>Ever wish you could get information about a freeCodeCamp challenge? Right from Slack?</p>
      <p>Now you can. Whether you're looking for a linked resource, are curious about a project objective, or just want to double-check the user stories for whatever you're working on, fccBot has your back. Just install the slack app, then summon fccBot whenever you need help.</p>
      <p>It's that easy.</p>
    </header>

    <section class="content">

      <h2>fccBot in Action</h2>
      <p>To get information from fccBot, all you have to do is ask. He's (mostly) happy to help.</p>

      <section>
        <p>You can ask for information on a specific challenge, and even use a partial challenge name:</p>
        <img src="/fccbot-usage.png"></img>
      </section>

      <section>
        <p>Still running into trouble? Just tell fccBot what certificate you're working towards, and he'll take it from there:</p>
        <img src="/fccbot-dropdown.png"></img>
      </section>

    </section>

    <section class="content">
      <h2>Where can I learn more?</h2>
      <p>fccBot was created by members of the <a href="https://tropicalchancer.github.io/projectus/">Chingu Cohorts</a> - student programmers learning together. The fccBot is not part of the freeCodeCamp project and was not created or endorsed by freeCodeCamp - but we like to think they'd approve.</p>
      <p>To learn more about fccBot, check out the <a href="https://github.com/AgathaLynn/rhino-bot-project">GitHub repository</a> for the fccBot project.</p>
    </section>
  </body>
</html>
