* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

/* HEADER BAR */

header {
  background: #006400;
  color: white;
  position: fixed;
  width: 100%;
  padding: 5px;
  padding-left: 65px;
  box-shadow: 0 0 3px 1px black;
  z-index: 5;
}

section {
  margin: 0 auto;
}

.icon {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 5px;
  left: 5px;
}

.btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

/* INTRO SECTION */

.intro {
  background: #EEE;
  padding-top: 150px;
  padding-bottom: 100px;
  font-size: 1.7em;
  text-align: center;
  margin: 0 auto;
  border-bottom: 3px solid #006400;
}

.agd {
  max-width: 900px;
}

.agd div,
.agd img {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}

.agd div {
  width: 600px;
  max-width: 95%;
  text-align: left;
}

.agd img {
  width: 300px;
  max-width: 90%;
  height: auto;
  border-radius: 20px;
}

.intro h2 {
  font-style: italic;
}

.intro p {
  margin: 5px;
}

/* FEATURES SUMMARY BOXES */

.group {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 960px;
  text-align: center;
}

.item {
  width: 300px;
  height: 200px;
  border: 4px solid #006400;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  padding: 28px;
  margin: 10px;
  display: inline-block;
}

.item span {
  font-size: 1.5em;
}

/* USAGE SECTION */

.usage {
  border-top: 3px solid #006400;
  border-bottom: 3px solid #006400;
}

video,
.fallback {
  width: 700px;
  max-width: 95%;
  height: auto;
  box-shadow: 0 0 3px 1px #ccc;
  display: inline-block;
  vertical-align: middle;
}

.demo,
.add-button {
  padding: 100px 5%;
  text-align: center;
}

.content {
  display: inline-block;
  font-size: 1.7em;
  max-width: 400px;
  padding: 20px;
  vertical-align: middle;
}

.fccbot {
  font-family: monospace;
}

/* usage sections */

.fccbot-welcome {
  background: #fbfbfb;
}

.category-search {
  background: #fdfdfd;
  direction: rtl;
}

.category-search .content,
.category-search video {
  direction: ltr;
}

.challenge-search {
  background: #f8f8f8;
}

.add-button img {
  padding-top: 20px;
}

a {
  color: #006400;
}

footer {
  background: #EEE;
  padding: 5px;
  text-align: center;
}

.footer-link {
  margin: 5px;
  font-size: 1.5em;
}

.credits {
  padding: 10px;
}
